asgiref
astroid
certifi
cffi
chardet
cryptography
defusedxml
Django
django-allauth
django-materializecss-form
idna
isort
lazy-object-proxy
mccabe
oauthlib
Pillow
pycparser
PyJWT
pylint
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
toml
urllib3
wrapt
